<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.crm.mapper.BaseDictMapper">

    <select id="findItemNameByTypeCode" parameterType="string" resultType="baseDict">
        select dict_id,dict_item_name from base_dict where dict_type_code = #{code}
    </select>

</mapper>